<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="ToolsConnectionString"
			 connectionString="Data Source=DOME-NOTEHP;Integrated Security=SSPI; Initial Catalog=Tools;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="APIUrl"
			 value="https://localhost:44355/"/>
	</appSettings>

</configuration>